<nav>
  <span></span>
  <ul>
    <li>
      <a href='/'> Home </a>
      <a href='/add-item'> Add Item </a>
      <a href='/login'>Login</a>
      <a href='/signup'>Sign Up</a>
    </li>
  </ul>
</nav>