@media screen and (min-width: 700px) {
    body{
        grid-template-rows: auto 1rem 1fr 3rem;
        }

    main{
        width: calc(100vw - 4rem);
        margin: auto;
    }

    section.grid{
        width: calc(700px - 4rem);
    }

    section.grid .card-container{
        width: 100%;
    }

    hr{
        box-shadow: 
        0 0 2px #1A34A0,
        0 0 4px #1A34A0,
        0 0 6px #1A34A0;
        width: 100vw;
        height: 1px;
    }
    
    /* * * * * * * * * * * * * NAV * * * * * * * * * * * * */
    #mobile-nav-toggle, #mobile-nav-toggle ~ .burger-container{
        display: none;
    }

    #mobile-nav-toggle:checked ~ .nav-item-list, #mobile-nav-toggle:unchecked ~ .nav-item-list{
        transform: scale(1) translate(0,0);
        height: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .nav-item-list{
        transform: scale(1) translate(0,0);
        transition: 0.3s;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
        margin-right: 1rem;
    }


    .main-header-nav {
        width: 100vw;
        height: 3rem;
        background-color: black;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    
    .login-nav-item {
        float: right;
    }
    
    .main-nav-item,
    .login-nav-item {
        text-decoration: none;
        margin: 0 .5rem;
        padding: 3px;
        color: white;
        display: inline-block;
        width: 100%;
        max-width: calc(100vw / 8)
    }
    .main-nav-item:first-of-type{
        margin-left: 0;
    }
    
    .main-nav-item a,
    .login-nav-item a {
        width: 100%;
    }

    .nav-item-list{
        align-items: center;
        justify-items: center;
        width: 90vw;
        margin-right: 2rem;
    }

    /* Details CSS */
    .details-left {
        width: 70%;
    }

    .details-right {
        margin-top: 7%;
    }

    .details-right h1 {
        padding-top: 1%;
    }

        /* * * * * * * * DON'T DELETE THIS ONE!!!! MEDIA QUERY * * * * * * */
}


@media screen and (min-width: 900px) {
    main{
        width: calc(100vw - 4rem);
    }

    section.grid{
        width: calc(900px - 4rem);
    }

    section.grid .card-container{
        width: 100%;
    }

    
        /*
                Content CSS
        */

        .content-main {
                width: 100%;
        }

        .content-cards {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 50px;
                row-gap: 25px;
        }

        .content-card {
                display: grid;
                grid-template-columns: 1fr;
                height: 100%;
        }
        
        .description {
                display: block;
        }

        .left {
                width: 100%;
                align-self: end;
        }

        .right {
                width: 95%;
                border: none;
        }

        /* Details CSS */ 
        .details-item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-auto-rows: 1fr;
            align-items: center;
        }

        .details-right {
            margin-top: 0;
        }

        .details-right h1 {
            padding-top: 0;
        }
        /* * * * * * * * DON'T DELETE THIS ONE!!!! MEDIA QUERY * * * * * * */
}

/*  Extra-Wide Screens  */
@media screen and (min-width: 1450px) {
        .content-main {
                max-width: 95%;
        }
        .content-card {
                display: flex;
                flex-direction: row;
                height: auto;
        }

        .right {
                width: 85%;
                border-left: 2px solid #3AAFB9;
        }

        .left {
            width: 300px;
            height: 300px;
            object-fit: scale-down;
        }

}