@media screen and (min-width: 450px) {

    body{
        grid-template-rows: 7.5rem 1rem 1fr 3rem;
    }

    
    hr{
        position: relative;
        top: -2.5rem;
    }
    section.grid{
        align-items: flex-start;
    }

    section.grid .card-container{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        /* width: calc(100vw - 4rem); */
        overflow-x: scroll;
        padding: 1rem 0;
    }

    section.grid article.card{
        width: 20rem;
        margin: 0 1rem;
    }
    
    .random-display-img {
        width: 400px;
        height: 600px;
    }

    .content-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .content-card {
        display: flex;
        padding: 0;
        max-width: 400px;
     }
     
     .left {
        width: 75%;
        margin: 0;
        padding: 0;
     }
    
     .right {
        width: 75%;
        font-size: 1em;
        border: 2px solid #3AAFB9;
        border: none;
        border-left: solid;
        text-align: left;
        padding: 2%;
     }


    /* * * * * * * * DON'T DELETE THIS ONE!!!! MEDIA QUERY * * * * * * */
}