/*
   Movies CSS
*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nixie+One&family=Poiret+One&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');

html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
   background-color: #001011;
   color: #97C8EB;
}

/* NEED FIX... This is Dummy Header CSS*/
.dummyHeaderSection {
   max-width: 100%;
   padding: 10%;
   background-color: #093A3E;
   color: #97C8EB;
}

.main-header {
   text-align: center;

}

.cards {
   margin: 0;
}

.card {
   display: flex;
   border: 2px solid #3AAFB9;
   margin-bottom: 2%;
}



.card img {
   width: 100%;
}

.left {
   width: 75%;
   margin: 0;
   padding: 0;
}
.right {
   width: 75%;
   font-size: 1em;
   border:white solid 2px;
   text-align: center;
}