<%- include('../includes/head.ejs') %>

</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main class="index-main">
    <h1>
      Here is our web app
    </h1>
    <p>this is placeholder info until index is updated- created for styling purposes</p>
    <section class="grid">
      <h2>Books</h2>
      <div class="card-container">
        <article class="card">
              <h3 class="title">Book Title</h3>
              <img src="" alt="Img of Book">
          <div class="card_content">
              <p>Author</p>
              <p>Genre</p>
              <p class="description">Description blah blah blah</p>
          </div>
          <div class="buttons">
            <a href="/edit-item/618ee590f5481d165c4841a0/book" class="btn">Details</a>
            <a href="#" class="btn">Add to Library</a>
          </div>
        </article>
        <article class="card">
          <h3 class="title">Book Title</h3>
          <img src="" alt="Img of Book">
      <div class="card_content">
          <p>Author</p>
          <p>Genre</p>
          <p class="description">Description blah blah blah</p>
      </div>
      <div class="buttons">
        <a href="edit-item/618ee176ea223f9340c14a48/book" class="btn">Details</a>
        <a href="#" class="btn">Add to Library</a>
      </div>
    </article>
    <article class="card">
      <h3 class="title">Book Title</h3>
      <img src="" alt="Img of Book">
  <div class="card_content">
      <p>Author</p>
      <p>Genre</p>
      <p class="description">Description blah blah blah</p>
  </div>
  <div class="buttons">
    <a href="edit-item/618ee176ea223f9340c14a48/book" class="btn">Details</a>
    <a href="#" class="btn">Add to Library</a>
  </div>
</article>
      </div>
  </section>
  <section class="grid">
    <h2>Movies</h2>
    <div class="card-container">
      <article class="card">
        <h3 class="title">Movie Title</h3>
        <img src="" alt="Img of Movie">
        <div class="card_content">
          <p>Genre</p>
          <p>Rating</p>
          <p class="description">Description blah blah blah</p>
        </div>
        <div class="buttons">
            <a href="edit-item/618ee176ea223f9340c14a48/book" class="btn">Details</a>
            <a href="#" class="btn">Add to Library</a>
        </div>
      </article>
      <article class="card">
        <h3 class="title">Movie Title</h3>
        <img src="" alt="Img of Movie">
        <div class="card_content">
          <p>Genre</p>
          <p>Rating</p>
          <p class="description">Description blah blah blah</p>
        </div>
        <div class="buttons">
            <a href="edit-item/618ee176ea223f9340c14a48/movie" class="btn">Details</a>
            <a href="#" class="btn">Add to Library</a>
        </div>
      </article>
      <article class="card">
        <h3 class="title">Movie Title</h3>
        <img src="" alt="Img of Movie">
        <div class="card_content">
          <p>Genre</p>
          <p>Rating</p>
          <p class="description">Description blah blah blah</p>
        </div>
        <div class="buttons">
            <a href="edit-item/618ee176ea223f9340c14a48/movie" class="btn">Details</a>
            <a href="#" class="btn">Add to Library</a>
        </div>
      </article>   
    </div>

</section>
<section class="grid">
  <h2>Games</h2>
  <div class="card-container">
  <article class="card product-item">
    <h3 class="title">Game Title</h3>
    <img src="" alt="Img of Game">
    <div class="card_content">
      <p>Category</p>
      <p class="description">Description blah blah blah</p>
    </div>
    <div class="buttons">
        <a href="edit-item/618ee176ea223f9340c14a48/game" class="btn">Details</a>
        <a href="#" class="btn">Add to Library</a>
    </div>
  </article> 
  <article class="card product-item">
    <h3 class="title">Game Title</h3>
    <img src="" alt="Img of Game">
    <div class="card_content">
      <p>Category</p>
      <p class="description">Description blah blah blah</p>
    </div>
    <div class="buttons">
        <a href="edit-item/618ee176ea223f9340c14a48/game" class="btn">Details</a>
        <a href="#" class="btn">Add to Library</a>
    </div>
  </article>
  <article class="card product-item">
    <h3 class="title">Game Title</h3>
    <img src="" alt="Img of Game">
    <div class="card_content">
      <p>Category</p>
      <p class="description">Description blah blah blah</p>
    </div>
    <div class="buttons">
        <a href="edit-item/618ee176ea223f9340c14a48/game" class="btn">Details</a>
        <a href="#" class="btn">Add to Library</a>
    </div>
  </article>
  <article class="card product-item">
    <h3 class="title">Game Title</h3>
    <img src="" alt="Img of Game">
    <div class="card_content">
      <p>Category</p>
      <p class="description">Description blah blah blah</p>
    </div>
    <div class="buttons">
        <a href="edit-item/618ee176ea223f9340c14a48/game" class="btn">Details</a>
        <a href="#" class="btn">Add to Library</a>
    </div>
  </article>  
</div>
</section>
  </main>

  <%- include('../includes/end.ejs') %>